@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
--charmander: linear-gradient(180deg, #EF4444 0%, #F59E0B 100%);
--squirtle: linear-gradient(180.03deg, #3360FF -7.22%, #B4FCE2 102.31%);
--bulbasaur: linear-gradient(180deg, #4BDF3E 0%, #59FFC3 100%);;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#contato {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

#contato:hover {
  background: #d32f2f;
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}
